@function remy($pxsize) {
  @return ($pxsize/16)+rem;
}

main {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
}

h1 { font-size: 32px;}
